body{
    margin: 0 auto;
  }
  
  .header{
    display: flex;
    background-color: rgb(251, 245, 239);
    height: 00px;
  }
  
  .game{
    background-color:  rgb(211, 39, 39);
    color: white;
    margin-left: 100px;
    text-align: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
    position: fixed;
    height: 60px;
    width: 180px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  
  @media screen  and (max-width:820px){
    .info{
      display: none;
    }
    .head{
      background-color: #F6F4F0; height: 600px; margin-top: -22px; padding-right: 30%; padding-left: 6%;
    }
  }

  @media (min-width:820px){
    .info{
      display: flex;
      margin-left: 60%;
      background-color: white;
      border-radius: 0 0 10px 10px;
      align-items: center;
      text-align: center;
      width: 470px;
      height: 60px;
      position: fixed;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .info div{
      padding: 25px;
    }
    
    
    .info div:hover{
      background-color: rgb(211, 39, 39);
      color: white;
      border-radius: 0 0 10px 10px;
      height: 15px;
      cursor: pointer;
    }
    .head{
      background-color: #F6F4F0; height: 600px; margin-top: -22px; padding-right: 50%; padding-left: 6%;
    }
  }
  
  .game p{
    font-size: 130%;
    font-family:'Comic Sans MS', cursive;
    margin-top: 12px; 
  }

  .headline{
    margin-left: 7%;
    font-size: 7vh;
    font-family: 'Suez One', serif;
    color: #272443;
  }

  .underheadline{
    font-size: 24px; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7%;
    color: #272443;
  }
   @media screen and (max-width:401px){
    .aboutcompany{
      display: flex;
      flex-direction: column;
      
    }
    .aboutcompany1{
      width: 100%;
      
      overflow: hidden;
    }
  
    .aboutcompany2{
      width: 100%;
      background-color: rgb(201, 50, 50);
      color: white;
    }
    
  
   }
  @media screen and (min-width:400px){
    .aboutcompany{
      display: flex;
      flex-direction: row;
      height: 590px;
    }
    .aboutcompany1{
      width:40%;
      height: 50%;
    }
  
    .aboutcompany2{
      width: 60%;
      margin: 0 7% 0 7%;
      background-color: rgb(201, 50, 50);
    }
  
   
  
   }
   .aboutcompany2>p{
    font-size: 2vh; 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 15% 10% 0 15% ;
  }
  
  .three{
    background-image:  url(about2.png);
    height:auto;
    object-fit:cover;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
  }
  @media screen and (max-width: 401px){
    .parts{
      display: flex;
      flex-direction: column;
      margin-top: -20px;
      align-items: center;
    }
  
    .part1{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      
    }
    .part1>div{
      margin-top: 18%;
     
    }
    .part2{
      width: 380px; 
      height: 170px; 
      background-color: white;
      
      text-align: left;
      padding: 20px;
    }  
   
    
  
  }
  
  @media screen and (min-width: 400px){
    .parts{
      display: flex;
      flex-direction: column;
      margin-top: -20px;
      align-items: center;
      
    }
  
    .part1{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
    }
    .part1>div{
      margin: 7%;
    }
    .part2{
      
      background-color: white;
      border-radius: 20px;
      text-align: left;
      padding: 20px;
    }  
    
  
  }

  

  .purple{
    background-color: #272443;
    width: 80%;
    height: auto;
    padding: 20px;
  }

  .inpurple{
    display: flex;
    justify-content: space-between;
  }

  .adams{
    width: 90%;
    border-radius: 10px;
  }


  .imageofred{
    background-image: linear-gradient(to bottom, rgb(247, 216, 160,0), rgb(250, 58, 29,1)), url(imageofred.jpg);
    width: 100%;
    height: 600px;
  }

  @media screen and (min-width:820px){
    .found1{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .found2{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
    }
    .inpurple{
      display: flex;
      flex-direction: row;
      justify-content: center;
      box-sizing: border-box;
width: 100%;

padding: 5px;
    }
    .purple{
      background-color: #272443;
      width: 80%;
      height: 700px;
      padding: 20px;
    }
    
  }

  @media screen and (min-width:820px){
    .found1{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .found2{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
    }
    .inpurple{
      display: flex;
      flex-direction: row;
      justify-content: center;
      box-sizing: border-box;
      width: 100%;
      padding: 5px;
    }
    .purple{
      background-color: #272443;
      width: 80%;
      height: 700px;
      padding: 20px;
    }
    
  }

  @media screen  and (max-width:820px){
    
    .inpurple{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
width: 100%;

padding: 5px;
    }
    
    .purple{
      background-color:#272443;
      
      height: auto;
      padding: 20px;
    }
    .pnone{
      display: none;
    }
    .found1{
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      
    }
    .found2{
      display: flex;
      flex-direction: row;
      justify-content: center;
      
    }
  }
