body{
    margin: 0 auto;
  }
  
  .header{
    display: flex;
    background-color: rgb(251, 245, 239);
    height: 00px;
  }
  
  .game{
    background-color:  rgb(211, 39, 39);
    color: white;
    margin-left: 100px;
    text-align: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
    position: fixed;
    height: 60px;
    width: 180px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  
  
  .info{
    display: flex;
    margin-left: 60%;
    background-color: white;
    border-radius: 0 0 10px 10px;
    align-items: center;
    text-align: center;
    width: 470px;
    height: 60px;
    position: fixed;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .info div{
    padding: 25px;
  }
  
  
  .info div:hover{
    background-color: rgb(211, 39, 39);
    color: white;
    border-radius: 0 0 10px 10px;
    height: 15px;
    cursor: pointer;
  }
  
  
  .game p{
    font-size: 130%;
    font-family:'Comic Sans MS', cursive;
    margin-top: 12px; 
  }
   
  .headline{
    margin-top: -550px;
    margin-left: 7%;
    font-size: 80px;
    font-family: 'Suez One', serif;
    color: #272443;
  }

  .underheadline{
    font-size: 24px; 
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -60px;
    margin-left: 7%;
    color: #272443;
  }

  .icons{
    margin-left: 7%;
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .img1{
    width: 125px;
    height: 40px;
    border-radius: 8px;
  }
  .img2{
    width: 140px;
    height: 40px;
    border-radius: 8px;
  }
   @media screen and (max-width: 2000px) {
    .gameintro{
      margin-top: 200px;
      margin-left: 7%;
      margin-right: 7%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 48vh;
    }
   }
  
   #all{
    background-color: #F6F4F0;
   }
   @media screen and (max-width: 400px){
    .gameintro{
      margin-top: 200px;
      display: flex;
      flex-direction: column;
      
      height: 48vh;
    }
   }

  .gameintro > div{
    border-radius: 20px;
    width: 270px;
    height: 360px;
   }

  .imgintro1{
    object-fit:cover;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgb(247, 216, 160,0), rgb(250, 58, 29,1)), url(imgintro1.png);
    background-position: center;
    background-size: 100%;
    
  }
  .imgintro1:hover{
    background-image:url(imgintro1.png);
    
    object-fit:cover;
    border-radius: 20px;
    background-position: center;
    background-size: 100%;
  }

  .imgintro2{
    object-fit:cover;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgb(247, 216, 160,0), rgb(250, 58, 29,1)), url(imgintro2.png);
    background-position: center;
    background-size: 100%;
  }

  .imgintro2:hover{
    background-image:url(imgintro2.png);
   
    object-fit:cover;
    border-radius: 20px;
    background-position: center;
    background-size: 100%;
  }

  .imgintro3{
    object-fit:cover;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgb(247, 216, 160,0), rgb(250, 58, 29,1)), url(imgintro3.png);
    background-position: center;
    background-size: 100%;
  }

  .imgintro3:hover{
    background-image:url(imgintro3.png);
   
    object-fit:cover;
    border-radius: 20px;
    background-position: center;
    background-size: 100%;
  }

  .imgintro4{
    object-fit:cover;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgb(247, 216, 160,0), rgb(250, 58, 29,1)), url(imgintro4.png);
    background-position: center;
    background-size: 100%;
  }

  .imgintro4:hover{
    background-image:url(imgintro4.png);
   
    object-fit:cover;
    border-radius: 20px;
    background-position: center;
    background-size: 100%;
  }

  .abouttripo{
    height: 350vh;
    align-items: center;
    text-align: center;
    margin-top: 200px;
  }
  
  .p1abouttripo{
    font-style:bold; 
    font-size: 21px; 
    font-family: Arial, Helvetica, sans-serif;
    color: #272443;
  }

  .h1abouttripo{
    font-size: 50px; 
    font-family: 'Suez One', serif; 
    color: #272443; 
  }

  .p2abouttripo{
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif;
    color: #272443;
  }

  .btnabouttripo{
    background-color: rgb(192, 15, 15) ; 
    width: 15%; 
    height: 3%; 
    border-radius: 15px;
    font-size: 18px;
    color: white;
  }

  .imgabouttripo{
    width: 50%;
    height: auto;
    border-radius: 15px;
  }

  .img2abouttripo{
    width:12%;
    height: auto;
    margin-top: -10%;
    margin-left: -45%;
  }

  .moreaboutgames{
    background-image: url(moreaboutgames.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
  }

  #moremain1{
    display: flex;
    flex-direction: column;
  }

  #moremain2{
    display: flex;
    flex-direction: column;
  }

  .more1{
    background-color: white;
    border-radius: 30px;
    width: 50vh;
    height: 50vh;
    margin: 40px 90px 50px 190px;
    box-shadow: 5px 5px 5px #f6c4af69, 0 5px 5px #f6c4af69;
  }

  .more1>img{
     margin: 5vh 30vh 30vh 5vh;
     width: 12vh;
     border-radius: 30px;
     border-style: solid;
     border-color: white;
     box-shadow: 5px 5px 5px #f6c4af69, 0 5px 5px #f6c4af69;
  }

  .more2{
    background-color: white;
    border-radius: 30px;
    width: 50vh;
    height: 50vh;
    margin: 40px 50px 50px 250px;
    box-shadow: 5px 5px 5px #f6c4af69, 0 5px 5px #f6c4af69;
  }

  .more2>img{
    margin: 5vh 30vh 30vh 5vh;
    width: 12vh;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    box-shadow: 5px 5px 5px #f6c4af69, 0 5px 5px #f6c4af69;
  }

  .more3{
    background-color: white;
    border-radius: 30px;
    width: 50vh;
    height: 50vh;
    margin: 350px 50px 50px 190px;
    box-shadow: 5px 5px 5px #f6c4af69, 0 5px 5px #f6c4af69;
  }

  .more3>img{
    margin: 5vh 30vh 30vh 5vh;
    width: 12vh;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    box-shadow: 5px 5px 5px #f6c4af69, 0 5px 5px #f6c4af69;
  }
  
  .more4{
    margin: 400px 50px 50px 220px;
  }

  .more4>img{
    height: 40vh;
  }

  

  .headline1{
    margin-top: 0px;
    margin-left: 7%;
    font-size: 50px;
    font-family: 'Suez One', serif;
    color: white;
  }

  .underheadline1{
    font-size: 24px; 
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -650px;
    margin-left: 7%;
    color: white;
  }

  .careersimg{
    margin-top: -30%;
    margin-left: 55%;
    width: 35%;
  }

  .careersimg1{
    margin-top: -5px;
  }

  .input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -50%;
    margin-left:15%;
    border-radius: 20px;
  }

  .inputdiv{
    
  }



 
  
  
 
  
  
  
  
  


  